*{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ccc5b9;
}
a{
    text-decoration: none;
    color:white;
}
/* Navbar */
nav{
    position: fixed;
    z-index: 5;
}
.navbar{
    width:100vw;
    height:50px;
    background-color: #252422;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px;
}
.logo{
    color: white;
    font-size: large;
}
.nav_content ul{
    color:white;
    list-style: none;
    font-size: large;
    border:2px solid transparent;
    border-radius: 15px;
    padding: 0px 3px;
}
.nav_content ul:hover{
    border-color: white;
}
.searchbar{
    height:30px;
    width:50%;
    display: flex;
}
.search{
    height:30px;
    width:90%;
    background-color: #fffcf2;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    border:0px;
    text-align: center;
    padding-left:50px;
    font-size: medium;
    
}
.searchbar .glass{
    height: 30px;
    width: 50px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    background-color: #eb5e28;
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    height:30px;
    width:30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Side_Bar */

.side_bar{
    height:100vh;
    width:60px;
    background-color:#eb5e28;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    row-gap: 30px;
    box-shadow: 0px 0px 10px;
    position: fixed;
    margin:50px 0px;
    z-index: 1;
}
.side_bar div{
    height:50px;
    width: 50px;
    background-color: #fffcf2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.side_bar div:hover{
    animation:width 0.3s forwards 1 0s;
    border-radius:25px;
}
@keyframes width{
    to{width:10rem;}
}
.circle:nth-child(6):hover i {
    transform: rotate(180deg);
    transition: transform 0.5s ease;
}

/* Messages */

.main_chat_box{
    padding: 80px 0px 0px 135px;
}
.chat_box{
    position:relative;
    height:85vh;
    width:85vw;
    background-color:#fffcf2 ;
    box-shadow: 0 0 10rem black;
    border-radius: 30px;
    display: flex;
}
.chat_box .foot{
    height:60px;
    width: 70%;
    border-radius: 100px;
    
    box-shadow: 0px 0px 1rem;
    position: absolute;
    bottom: 20px;
    left:10rem;
} 
.chat_box .foot input{
    height:100%;
    width: 100%;
    border-radius: 100px;
    border: 0px;
    padding-left: 30px;
    border: 3px solid #eb5e28;
} 
.mid{
    font-size: larger;
    position: absolute;
    bottom:50%;
    left:20rem;
    color:gray
}