*{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: #ccc5b9;
}
a{
    text-decoration: none;
    color:white;
}
/* Navbar */
nav{
    position: fixed;
    z-index: 5;
}
.navbar{
    width:100vw;
    height:50px;
    background-color: #252422;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 10px;
}
.logo{
    color: white;
    font-size: large;
}
.nav_content ul{
    color:white;
    list-style: none;
    font-size: large;
    border:2px solid transparent;
    border-radius: 15px;
    padding: 0px 3px;
}
.nav_content ul:hover{
    border-color: white;
}
.searchbar{
    height:30px;
    width:50%;
    display: flex;
}
.search{
    height:30px;
    width:90%;
    background-color: #fffcf2;
    border-top-left-radius:15px;
    border-bottom-left-radius:15px;
    border:0px;
    text-align: center;
    padding-left:50px;
    font-size: medium;
    
}
.searchbar .glass{
    height: 30px;
    width: 50px;
    border-top-right-radius:15px;
    border-bottom-right-radius:15px;
    background-color: #eb5e28;
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile{
    height:30px;
    width:30px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Side_Bar */

.side_bar{
    height:100vh;
    width:60px;
    background-color:#eb5e28;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5px;
    row-gap: 30px;
    box-shadow: 0px 0px 10px;
    position: fixed;
    margin:50px 0px;
    z-index: 1;
}
.side_bar div{
    height:50px;
    width: 50px;
    background-color: #fffcf2;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
}
.side_bar div:hover{
    animation:width 0.3s forwards 1 0s;
    border-radius:25px;
}
@keyframes width{
    to{width:20rem;}
}
/* .side_bar div span{
    opacity: 0;
    color: black;
    margin-left: 10px;
    transition:opacity 0.3 linear 0s;
}
.side_bar div:hover span{
    opacity: 1;
}
.circle span{
    position: absolute;
    left: 50px; 
}
.circle:hover span{
    animation: left;
} */

/* Main */
/* main{
    display: flex; 
} */
.profile_box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
    width: 100vw;
    height: 100vh;
    padding:80px 0px 0px 70px;
    column-gap:90px;
    row-gap: 20px;
}
.profile_box div{
    height:300px;
    width:300px;
    background-color: #fffcf2;
    border-radius: 30px;
    box-shadow: 0px 0px 1.5rem;
    position: relative;
    overflow: hidden;
}
.profile_box div .detail{
    height:0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    color:white;
    transition: bottom 0.5s ease-in-out;
    box-shadow: 0px 0px 0px;
    display: flex;
    justify-content:left;
    padding:0 0 0 30px;
    align-items: center;
    line-height: 35px;
    border-radius: 30px;
}

.profile_box div:hover .detail{
    bottom:0;
    animation:details 0.5s forwards 1 0s;
}
@keyframes details{
    from{height:0%}
    to{height: 40%;}
}
.box{
    background-image: url(https://cdn.vectorstock.com/i/1000v/53/42/user-member-avatar-face-profile-icon-vector-22965342.avif);
    background-size: cover;
}
